In [5]:
# Pandas Basics
from IPython.display import Image 

from pandas import Series, DataFrame
import pandas as pd
import numpy as np

<font color = red><p style="font-weight:bold"> 상관관계와 공분산 </p></font>

In [3]:
?obj.dedscrbe()

Object `obj.dedscrbe()` not found.

In [4]:
obj = Series(['a', 'a', 'b', 'c'] * 4)
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

In [9]:
help(describe)

NameError: name 'describe' is not defined

In [10]:
# import pandas.io.data as web
import pandas_datareader as web

ModuleNotFoundError: No module named 'pandas_datareader'

In [20]:
%pip list

Package                       Version
----------------------------- --------------------
aiohttp                       3.8.1
aiosignal                     1.2.0
alabaster                     0.7.12
anaconda-client               1.9.0
anaconda-navigator            2.1.4
anaconda-project              0.10.2
anyio                         3.5.0
appdirs                       1.4.4
argon2-cffi                   21.3.0
argon2-cffi-bindings          21.2.0
arrow                         1.2.2
astroid                       2.6.6
astropy                       5.0.4
asttokens                     2.0.5
async-timeout                 4.0.1
atomicwrites                  1.4.0
attrs                         21.4.0
Automat                       20.2.0
autopep8                      1.6.0
Babel                         2.9.1
backcall                      0.2.0
backports.functools-lru-cache 1.6.4
backports.tempfile            1.0
backports.weakref             1.0.post1
bcrypt                        3.2.0
beautifulsoup4                4.11.1
binaryornot                   0.4.4
bitarray                      2.4.1
bkcharts                      0.2
black                         19.10b0
bleach                        4.1.0
bokeh                         2.4.2
boto3                         1.21.32
botocore                      1.24.32
Bottleneck                    1.3.4
brotlipy                      0.7.0
cachetools                    4.2.2
certifi                       2021.10.8
cffi                          1.15.0
chardet                       4.0.0
charset-normalizer            2.0.4
click                         8.0.4
cloudpickle                   2.0.0
clyent                        1.2.2
colorama                      0.4.4
colorcet                      2.0.6
comtypes                      1.1.10
conda                         4.12.0
conda-build                   3.21.8
conda-content-trust           0+unknown
conda-pack                    0.6.0
conda-package-handling        1.8.1
conda-repo-cli                1.0.4
conda-token                   0.3.0
conda-verify                  3.4.2
constantly                    15.1.0
cookiecutter                  1.7.3
cryptography                  3.4.8
cssselect                     1.1.0
cycler                        0.11.0
Cython                        0.29.28
cytoolz                       0.11.0
daal4py                       2021.5.0
dask                          2022.2.1
datashader                    0.13.0
datashape                     0.5.4
debugpy                       1.5.1
decorator                     5.1.1
defusedxml                    0.7.1
diff-match-patch              20200713
distributed                   2022.2.1
docutils                      0.17.1
entrypoints                   0.4
et-xmlfile                    1.1.0
executing                     0.8.3
fastjsonschema                2.15.1
filelock                      3.6.0
flake8                        3.9.2
Flask                         1.1.2
fonttools                     4.25.0
frozenlist                    1.2.0
fsspec                        2022.2.0
future                        0.18.2
gensim                        4.1.2
glob2                         0.7
google-api-core               1.25.1
google-auth                   1.33.0
google-cloud-core             1.7.1
google-cloud-storage          1.31.0
google-crc32c                 1.1.2
google-resumable-media        1.3.1
googleapis-common-protos      1.53.0
greenlet                      1.1.1
grpcio                        1.42.0
h5py                          3.6.0
HeapDict                      1.0.1
holoviews                     1.14.8
hvplot                        0.7.3
hyperlink                     21.0.0
idna                          3.3
imagecodecs                   2021.8.26
imageio                       2.9.0
imagesize                     1.3.0
importlib-metadata            4.11.3
incremental                   21.3.0
inflection                    0.5.1
iniconfig                     1.1.1
intake                        0.6.5
intervaltree                  3.1.0
ipykernel                     6.9.1
ipython                       8.2.0
ipython-genutils              0.2.0
ipywidgets                    7.6.5
isort                         5.9.3
itemadapter                   0.3.0
itemloaders                   1.0.4
itsdangerous                  2.0.1
jdcal                         1.4.1
jedi                          0.18.1
Jinja2                        2.11.3
jinja2-time                   0.2.0
jmespath                      0.10.0
joblib                        1.1.0
json5                         0.9.6
jsonschema                    4.4.0
jupyter                       1.0.0
jupyter-client                6.1.12
jupyter-console               6.4.0
jupyter-core                  4.9.2
jupyter-server                1.13.5
jupyterlab                    3.3.2
jupyterlab-pygments           0.1.2
jupyterlab-server             2.10.3
jupyterlab-widgets            1.0.0
jupyterthemes                 0.20.0
keyring                       23.4.0
kiwisolver                    1.3.2
lazy-object-proxy             1.6.0
lesscpy                       0.15.0
libarchive-c                  2.9
llvmlite                      0.38.0
locket                        0.2.1
lxml                          4.8.0
Markdown                      3.3.4
MarkupSafe                    2.0.1
matplotlib                    3.5.1
matplotlib-inline             0.1.2
mccabe                        0.6.1
menuinst                      1.4.18
mistune                       0.8.4
mkl-fft                       1.3.1
mkl-random                    1.2.2
mkl-service                   2.4.0
mock                          4.0.3
mpmath                        1.2.1
msgpack                       1.0.2
multidict                     5.1.0
multipledispatch              0.6.0
munkres                       1.1.4
mypy-extensions               0.4.3
navigator-updater             0.2.1
nbclassic                     0.3.5
nbclient                      0.5.13
nbconvert                     6.4.4
nbformat                      5.3.0
nest-asyncio                  1.5.5
networkx                      2.7.1
nltk                          3.7
nose                          1.3.7
notebook                      6.4.8
numba                         0.55.1
numexpr                       2.8.1
numpy                         1.21.5
numpydoc                      1.2
olefile                       0.46
openpyxl                      3.0.9
packaging                     21.3
pandas                        1.4.2
pandas-datareader             0.10.0
pandocfilters                 1.5.0
panel                         0.13.0
param                         1.12.0
paramiko                      2.8.1
parsel                        1.6.0
parso                         0.8.3
partd                         1.2.0
pathspec                      0.7.0
patsy                         0.5.2
pep8                          1.7.1
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        9.0.1
pip                           21.2.4
pkginfo                       1.8.2
plotly                        5.6.0
pluggy                        1.0.0
Note: you may need to restart the kernel to use updated packages.
ply                           3.11
poyo                          0.5.0
prometheus-client             0.13.1
prompt-toolkit                3.0.20
Protego                       0.1.16
protobuf                      3.19.1
psutil                        5.8.0
ptyprocess                    0.7.0
pure-eval                     0.2.2
py                            1.11.0
pyasn1                        0.4.8
pyasn1-modules                0.2.8
pycodestyle                   2.7.0
pycosat                       0.6.3
pycparser                     2.21
pyct                          0.4.6
pycurl                        7.44.1
PyDispatcher                  2.0.5
pydocstyle                    6.1.1
pyerfa                        2.0.0
pyflakes                      2.3.1
Pygments                      2.11.2
PyHamcrest                    2.0.2
PyJWT                         2.1.0
pylint                        2.9.6
pyls-spyder                   0.4.0
PyNaCl                        1.4.0
pyodbc                        4.0.32
pyOpenSSL                     21.0.0
pyparsing                     3.0.4
pyreadline                    2.1
pyrsistent                    0.18.0
PySocks                       1.7.1
pytest                        7.1.1
python-dateutil               2.8.2
python-lsp-black              1.0.0
python-lsp-jsonrpc            1.0.0
python-lsp-server             1.2.4
python-slugify                5.0.2
python-snappy                 0.6.0
pytz                          2021.3
pyviz-comms                   2.0.2
PyWavelets                    1.3.0
pywin32                       302
pywin32-ctypes                0.2.0
pywinpty                      2.0.2
PyYAML                        6.0
pyzmq                         22.3.0
QDarkStyle                    3.0.2
qstylizer                     0.1.10
QtAwesome                     1.0.3
qtconsole                     5.3.0
QtPy                          2.0.1
queuelib                      1.5.0
regex                         2022.3.15
requests                      2.27.1
requests-file                 1.5.1
rope                          0.22.0
rsa                           4.7.2
Rtree                         0.9.7
ruamel-yaml-conda             0.15.100
s3transfer                    0.5.0
scikit-image                  0.19.2
scikit-learn                  1.0.2
scikit-learn-intelex          2021.20220215.102710
scipy                         1.7.3
Scrapy                        2.6.1
seaborn                       0.11.2
Send2Trash                    1.8.0
service-identity              18.1.0
setuptools                    61.2.0
sip                           4.19.13
six                           1.16.0
smart-open                    5.1.0
sniffio                       1.2.0
snowballstemmer               2.2.0
sortedcollections             2.1.0
sortedcontainers              2.4.0
soupsieve                     2.3.1
Sphinx                        4.4.0
sphinxcontrib-applehelp       1.0.2
sphinxcontrib-devhelp         1.0.2
sphinxcontrib-htmlhelp        2.0.0
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          1.0.3
sphinxcontrib-serializinghtml 1.1.5
spyder                        5.1.5
spyder-kernels                2.1.3
SQLAlchemy                    1.4.32
stack-data                    0.2.0
statsmodels                   0.13.2
sympy                         1.10.1
tables                        3.6.1
tabulate                      0.8.9
TBB                           0.2
tblib                         1.7.0
tenacity                      8.0.1
terminado                     0.13.1
testpath                      0.5.0
text-unidecode                1.3
textdistance                  4.2.1
threadpoolctl                 2.2.0
three-merge                   0.1.1
tifffile                      2021.7.2
tinycss                       0.4
tldextract                    3.2.0
toml                          0.10.2
tomli                         1.2.2
toolz                         0.11.2
tornado                       6.1
tqdm                          4.64.0
traitlets                     5.1.1
Twisted                       22.2.0
twisted-iocpsupport           1.0.2
typed-ast                     1.4.3
typing_extensions             4.1.1
ujson                         5.1.0
Unidecode                     1.2.0
urllib3                       1.26.9
w3lib                         1.21.0
watchdog                      2.1.6
wcwidth                       0.2.5
webencodings                  0.5.1
websocket-client              0.58.0
Werkzeug                      2.0.3
wheel                         0.37.1
widgetsnbextension            3.5.2
win-inet-pton                 1.1.0
win-unicode-console           0.5
wincertstore                  0.2
wrapt                         1.12.1
xarray                        0.20.1
xlrd                          2.0.1
XlsxWriter                    3.0.3
xlwings                       0.24.9
yapf                          0.31.0
yarl                          1.6.3
zict                          2.0.0
zipp                          3.7.0
zope.interface                5.4.0

In [11]:
# %pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: requests>=2.19.0 in c:\python\anaconda3\lib\site-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: pandas>=0.23 in c:\python\anaconda3\lib\site-packages (from pandas-datareader) (1.4.2)
Requirement already satisfied: lxml in c:\python\anaconda3\lib\site-packages (from pandas-datareader) (4.8.0)
Requirement already satisfied: numpy>=1.18.5 in c:\python\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\python\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.3)
Requirement already satisfied: six>=1.5 in c:\python\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\python\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\python\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\python\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\python\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

In [12]:
# import pandas.io.data as web
import pandas_datareader as web

In [13]:
all_data = {}
for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']:
    all_data[ticker] = web.get_data_yahoo(ticker)

In [51]:
all_data2 = {}
for ticker in ['139130.KS', '175330.KS', '138930.KS', '006220.KS']: #대구,전북, 부산, 제주
    all_data2[ticker] = web.get_data_yahoo(ticker)

In [14]:
type(all_data['AAPL'])

pandas.core.frame.DataFrame

In [15]:
type(all_data['AAPL']['Adj Close'])

pandas.core.series.Series

*주식이다

In [26]:
web.get_data_yahoo('{code}.KS'.format(code='139130'))

               High      Low     Open    Close    Volume    Adj Close
Date
2017-05-31  11500.0  11300.0  11400.0  11500.0  674331.0  8930.117188
2017-06-01  11500.0  11250.0  11500.0  11300.0  575341.0  8774.811523
2017-06-02  11500.0  11350.0  11400.0  11450.0  591805.0  8891.291016
2017-06-05  11500.0  11350.0  11500.0  11450.0  347102.0  8891.291016
2017-06-07  11500.0  11350.0  11450.0  11500.0  506759.0  8930.117188
...             ...      ...      ...      ...       ...          ...
2022-05-24   8680.0   8550.0   8620.0   8560.0  525654.0  8560.000000
2022-05-25   8690.0   8570.0   8570.0   8600.0  395087.0  8600.000000
2022-05-26   8710.0   8630.0   8650.0   8660.0  402885.0  8660.000000
2022-05-27   8770.0   8690.0   8720.0   8750.0  307047.0  8750.000000
2022-05-30   8810.0   8750.0   8810.0   8770.0  209099.0  8770.000000

[1225 rows x 6 columns]

In [22]:
all_data['AAPL'][0:10]

                 High        Low       Open      Close       Volume  Adj Close
Date
2017-05-30  38.607498  38.332500  38.355000  38.417500   80507600.0  36.368549
2017-05-31  38.542500  38.095001  38.492500  38.189999   97804800.0  36.153183
2017-06-01  38.332500  38.055000  38.292500  38.294998   65616400.0  36.252579
2017-06-02  38.862499  38.222500  38.395000  38.862499  111082800.0  36.789803
2017-06-05  38.612499  38.365002  38.584999  38.482498  101326800.0  36.430069
2017-06-06  38.952499  38.445000  38.474998  38.612499  106499600.0  36.553143
2017-06-07  38.994999  38.619999  38.755001  38.842499   84278400.0  36.770874
2017-06-08  38.884998  38.599998  38.812500  38.747501   85003200.0  36.680946
2017-06-09  38.797501  36.505001  38.797501  37.244999  259530800.0  35.258575
2017-06-12  36.522499  35.627499  36.435001  36.355000  289229200.0  34.416039

In [52]:
all_data2.items()

dict_items([('139130.KS',                High      Low     Open    Close    Volume    Adj Close
Date
2017-05-31  11500.0  11300.0  11400.0  11500.0  674331.0  8930.117188
2017-06-01  11500.0  11250.0  11500.0  11300.0  575341.0  8774.810547
2017-06-02  11500.0  11350.0  11400.0  11450.0  591805.0  8891.291016
2017-06-05  11500.0  11350.0  11500.0  11450.0  347102.0  8891.291016
2017-06-07  11500.0  11350.0  11450.0  11500.0  506759.0  8930.117188
...             ...      ...      ...      ...       ...          ...
2022-05-24   8680.0   8550.0   8620.0   8560.0  525654.0  8560.000000
2022-05-25   8690.0   8570.0   8570.0   8600.0  395087.0  8600.000000
2022-05-26   8710.0   8630.0   8650.0   8660.0  402885.0  8660.000000
2022-05-27   8770.0   8690.0   8720.0   8750.0  307047.0  8750.000000
2022-05-30   8810.0   8750.0   8810.0   8770.0  217470.0  8770.000000

[1225 rows x 6 columns]), ('175330.KS',               High     Low    Open   Close    Volume    Adj Close
Date
2017-05-31  6190.0  6120.0  6150.0  6190.0  365653.0  4872.574219
2017-06-01  6200.0  6130.0  6190.0  6160.0  233100.0  4848.959473
2017-06-02  6270.0  6140.0  6160.0  6270.0  305905.0  4935.547852
2017-06-05  6270.0  6140.0  6270.0  6170.0  345105.0  4856.831055
2017-06-07  6320.0  6150.0  6170.0  6270.0  404782.0  4935.547852
...            ...     ...     ...     ...       ...          ...
2022-05-24  8900.0  8770.0  8900.0  8770.0  371574.0  8770.000000
2022-05-25  8960.0  8780.0  8850.0  8860.0  429108.0  8860.000000
2022-05-26  8930.0  8820.0  8850.0  8870.0  190050.0  8870.000000
2022-05-27  8940.0  8830.0  8940.0  8830.0  157192.0  8830.000000
2022-05-30  8920.0  8830.0  8830.0  8860.0  123573.0  8860.000000

[1225 rows x 6 columns]), ('138930.KS',                High      Low     Open    Close     Volume    Adj Close
Date
2017-05-31  10000.0   9900.0   9950.0  10000.0  1190250.0  7936.627441
2017-06-01  10000.0   9920.0   9990.0   9990.0   762380.0  7928.690430
2017-06-02  10100.0   9960.0   9960.0  10050.0  1148890.0  7976.309570
2017-06-05  10200.0   9980.0  10100.0  10050.0   938063.0  7976.309570
2017-06-07  10250.0  10000.0  10000.0  10200.0  1402105.0  8095.359375
...             ...      ...      ...      ...        ...          ...
2022-05-24   7770.0   7670.0   7700.0   7710.0   733742.0  7710.000000
2022-05-25   7850.0   7720.0   7760.0   7800.0   827233.0  7800.000000
2022-05-26   7850.0   7750.0   7800.0   7750.0   636352.0  7750.000000
2022-05-27   7860.0   7790.0   7810.0   7840.0   784105.0  7840.000000
2022-05-30   7930.0   7870.0   7890.0   7890.0   580030.0  7890.000000

[1225 rows x 6 columns]), ('006220.KS',                    High          Low         Open        Close    Volume  \
Date
2017-05-31  8061.273438  7753.515625  7981.852051  7823.009277  110489.0
2017-06-01  7823.009277  7713.804688  7823.009277  7763.443359   26745.0
2017-06-02  7842.864746  7684.021973  7773.371094  7823.009277   43589.0
2017-06-05  7892.502930  7664.166504  7892.502930  7763.443359   35839.0
2017-06-07  7852.792480  7733.660156  7763.443359  7832.937012   30830.0
...                 ...          ...          ...          ...       ...
2022-05-24  6080.000000  5880.000000  6030.000000  5880.000000   69686.0
2022-05-25  5920.000000  5860.000000  5890.000000  5860.000000   40748.0
2022-05-26  5950.000000  5840.000000  5880.000000  5860.000000   63500.0
2022-05-27  5930.000000  5860.000000  5900.000000  5930.000000   41991.0
2022-05-30  5980.000000  5890.000000  5950.000000  5890.000000   70702.0

              Adj Close
Date
2017-05-31  7032.154297
2017-06-01  6978.609863
2017-06-02  7032.154297
2017-06-05  6978.609863
2017-06-07  7041.078613
...                 ...
2022-05-24  5880.000000
2022-05-25  5860.000000
2022-05-26  5860.000000
2022-05-27  5930.000000
2022-05-30  5890.000000

[1225 rows x 6 columns])])

In [17]:
all_data.items()

dict_items([('AAPL',                   High         Low        Open       Close       Volume  \
Date
2017-05-30   38.607498   38.332500   38.355000   38.417500   80507600.0
2017-05-31   38.542500   38.095001   38.492500   38.189999   97804800.0
2017-06-01   38.332500   38.055000   38.292500   38.294998   65616400.0
2017-06-02   38.862499   38.222500   38.395000   38.862499  111082800.0
2017-06-05   38.612499   38.365002   38.584999   38.482498  101326800.0
...                ...         ...         ...         ...          ...
2022-05-23  143.259995  137.649994  137.789993  143.110001  117726300.0
2022-05-24  141.970001  137.330002  140.809998  140.360001  104132700.0
2022-05-25  141.789993  138.339996  138.429993  140.520004   92482700.0
2022-05-26  144.339996  137.139999  137.389999  143.779999   90601500.0
2022-05-27  149.679993  145.259995  145.389999  149.639999   90796900.0

             Adj Close
Date
2017-05-30   36.368549
2017-05-31   36.153183
2017-06-01   36.252579
2017-06-02   36.789803
2017-06-05   36.430069
...                ...
2022-05-23  143.110001
2022-05-24  140.360001
2022-05-25  140.520004
2022-05-26  143.779999
2022-05-27  149.639999

[1260 rows x 6 columns]), ('IBM',                   High         Low        Open       Close     Volume  \
Date
2017-05-30  145.956024  144.923523  145.267685  145.057358  3834636.0
2017-05-31  146.080307  144.980881  145.344162  145.917786  3706396.0
2017-06-01  146.147232  144.961761  146.080307  145.956024  3052333.0
2017-06-02  146.462708  145.124283  146.338425  145.363297  3750642.0
2017-06-05  146.204590  145.009567  145.143402  145.707458  4157955.0
...                ...         ...         ...         ...        ...
2022-05-23  131.949997  129.419998  129.500000  131.169998  3591500.0
2022-05-24  134.369995  130.419998  130.570007  133.800003  4189700.0
2022-05-25  134.820007  132.860001  132.860001  134.389999  3299300.0
2022-05-26  137.550003  134.520004  135.000000  136.889999  3929300.0
2022-05-27  139.740005  137.240005  137.389999  139.270004  4608000.0

             Adj Close
Date
2017-05-30  114.588974
2017-05-31  115.268723
2017-06-01  115.298912
2017-06-02  114.830681
2017-06-05  115.102539
...                ...
2022-05-23  131.169998
2022-05-24  133.800003
2022-05-25  134.389999
2022-05-26  136.889999
2022-05-27  139.270004

[1260 rows x 6 columns]), ('MSFT',                   High         Low        Open       Close      Volume  \
Date
2017-05-30   70.410004   69.769997   69.790001   70.410004  17072800.0
2017-05-31   70.739998   69.809998   70.529999   69.839996  30436400.0
2017-06-01   70.610001   69.449997   70.239998   70.099998  21603600.0
2017-06-02   71.860001   70.239998   70.440002   71.760002  34770300.0
2017-06-05   72.889999   71.809998   71.970001   72.279999  33316800.0
...                ...         ...         ...         ...         ...
2022-05-23  261.500000  253.429993  255.490005  260.649994  33175400.0
2022-05-24  261.329987  253.500000  257.890015  259.619995  29043900.0
2022-05-25  264.579987  257.130005  258.140015  262.519989  28547900.0
2022-05-26  267.109985  261.429993  262.269989  265.899994  25002100.0
2022-05-27  273.339996  267.559998  268.480011  273.239990  26889500.0

             Adj Close
Date
2017-05-30   65.949806
2017-05-31   65.415901
2017-06-01   65.659447
2017-06-02   67.214287
2017-06-05   67.701340
...                ...
2022-05-23  260.649994
2022-05-24  259.619995
2022-05-25  262.519989
2022-05-26  265.899994
2022-05-27  273.239990

[1260 rows x 6 columns]), ('GOOG',                    High          Low         Open        Close   Volume  \
Date
2017-05-30   976.200012   969.489990   970.309998   975.880005  1466700
2017-05-31   979.270020   960.179993   975.020020   964.859985  2448100
2017-06-01   971.500000   960.010010   968.950012   966.950012  1410500
2017-06-02   975.880005   966.000000   969.460022   975.599976  1751000
2017-06-05   986.909973   975.099976   976.549988   983.679993  1252100
...                 ...          ...          ...          ...      ...
2022-05-23  2240.110107  2183.084961  2202.080078  2233.330078  1577900
2022-05-24  2127.899902  2044.160034  2127.550049  2118.520020  3019300
2022-05-25  2130.894043  2084.225098  2102.840088  2116.790039  1895000
2022-05-26  2179.104980  2109.760010  2121.010010  2165.919922  1514400
2022-05-27  2257.360107  2191.000000  2195.770020  2255.979980  1495600

              Adj Close
Date
2017-05-30   975.880005
2017-05-31   964.859985
2017-06-01   966.950012
2017-06-02   975.599976
2017-06-05   983.679993
...                 ...
2022-05-23  2233.330078
2022-05-24  2118.520020
2022-05-25  2116.790039
2022-05-26  2165.919922
2022-05-27  2255.979980

[1260 rows x 6 columns])])

In [18]:
price = DataFrame({tic: data['Adj Close']
                   for tic, data in all_data.items()})
price.head()

                 AAPL         IBM       MSFT        GOOG
Date
2017-05-30  36.368549  114.588974  65.949806  975.880005
2017-05-31  36.153183  115.268723  65.415901  964.859985
2017-06-01  36.252579  115.298912  65.659447  966.950012
2017-06-02  36.789803  114.830681  67.214287  975.599976
2017-06-05  36.430069  115.102539  67.701340  983.679993

In [64]:
price2 = DataFrame({tic: data2['Adj Close']
                   for tic, data2 in all_data2.items()})
price2.tail(20)

            139130.KS  175330.KS  138930.KS  006220.KS
Date
2022-04-29     8940.0     8950.0     7880.0     6350.0
2022-05-02     8850.0     8860.0     7890.0     6280.0
2022-05-03     8850.0     8790.0     7890.0     6270.0
2022-05-04     8870.0     8780.0     7890.0     6320.0
2022-05-06     9030.0     8700.0     7900.0     6320.0
2022-05-10     8860.0     8630.0     7770.0     6150.0
2022-05-11     8610.0     8530.0     7540.0     6100.0
2022-05-12     8500.0     8540.0     7530.0     6010.0
2022-05-13     8560.0     8600.0     7680.0     6070.0
2022-05-16     8560.0     8670.0     7700.0     6080.0
2022-05-17     8670.0     8870.0     7750.0     6060.0
2022-05-18     8740.0     8820.0     7720.0     6060.0
2022-05-19     8520.0     8710.0     7540.0     5950.0
2022-05-20     8560.0     8690.0     7620.0     6030.0
2022-05-23     8550.0     8770.0     7630.0     5970.0
2022-05-24     8560.0     8770.0     7710.0     5880.0
2022-05-25     8600.0     8860.0     7800.0     5860.0
2022-05-26     8660.0     8870.0     7750.0     5860.0
2022-05-27     8750.0     8830.0     7840.0     5930.0
2022-05-30     8770.0     8860.0     7890.0     5890.0

In [69]:
volume2 = DataFrame({tic: data2['Volume']
                    for tic, data2 in all_data2.items()})
volume2.tail(20)

            139130.KS   175330.KS  138930.KS  006220.KS
Date
2022-04-29   764883.0    282623.0  1933562.0    93875.0
2022-05-02   586275.0    173993.0   771158.0    52535.0
2022-05-03   594070.0    219371.0   571551.0    27302.0
2022-05-04   432439.0    230442.0  1134566.0    47946.0
2022-05-06   548255.0    369611.0   951806.0    95517.0
2022-05-10   431232.0    288642.0  1339564.0   108383.0
2022-05-11   827483.0    351219.0  1895358.0    26867.0
2022-05-12   627348.0    246456.0  1249146.0    52851.0
2022-05-13   706593.0    210706.0  1030739.0    39946.0
2022-05-16   405730.0    190601.0   496974.0    15389.0
2022-05-17   384685.0    494813.0   651643.0    48859.0
2022-05-18   328390.0  27919385.0   692003.0    30785.0
2022-05-19   629038.0    279839.0  1077000.0    53840.0
2022-05-20   465168.0    471039.0   904664.0    28896.0
2022-05-23   242296.0    265315.0   479142.0    27375.0
2022-05-24   525654.0    371574.0   733742.0    69686.0
2022-05-25   395087.0    429108.0   827233.0    40748.0
2022-05-26   402885.0    190050.0   636352.0    63500.0
2022-05-27   307047.0    157192.0   784105.0    41991.0
2022-05-30   217470.0    123573.0   580030.0    70702.0

In [27]:
returns = price.pct_change()
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2022-05-23  0.040119  0.020937  0.032032  0.021530
2022-05-24 -0.019216  0.020050 -0.003952 -0.051408
2022-05-25  0.001140  0.004410  0.011170 -0.000817
2022-05-26  0.023200  0.018603  0.012875  0.023210
2022-05-27  0.040757  0.017386  0.027604  0.041581

In [67]:
returns2 = price2.pct_change()
returns2.tail(30)

            139130.KS  175330.KS  138930.KS  006220.KS
Date
2022-04-15  -0.003279   0.000000  -0.008772  -0.010989
2022-04-18  -0.004386   0.000000  -0.007585  -0.011111
2022-04-19   0.014317   0.002294   0.017834   0.004815
2022-04-20  -0.004343   0.009153  -0.003755   0.020767
2022-04-21   0.000000   0.003401   0.002513  -0.001565
2022-04-22   0.004362   0.018079   0.007519   0.018809
2022-04-25  -0.001086   0.000000  -0.004975  -0.004615
2022-04-26  -0.015217  -0.001110  -0.011250  -0.013910
2022-04-27  -0.022075  -0.016667  -0.026549  -0.034483
2022-04-28   0.005643   0.005650   0.014286   0.006494
2022-04-29   0.003367   0.005618   0.008963   0.024194
2022-05-02  -0.010067  -0.010056   0.001269  -0.011024
2022-05-03   0.000000  -0.007901   0.000000  -0.001592
2022-05-04   0.002260  -0.001138   0.000000   0.007974
2022-05-06   0.018038  -0.009112   0.001267   0.000000
2022-05-10  -0.018826  -0.008046  -0.016456  -0.026899
2022-05-11  -0.028217  -0.011587  -0.029601  -0.008130
2022-05-12  -0.012776   0.001172  -0.001326  -0.014754
2022-05-13   0.007059   0.007026   0.019920   0.009983
2022-05-16   0.000000   0.008140   0.002604   0.001647
2022-05-17   0.012850   0.023068   0.006494  -0.003289
2022-05-18   0.008074  -0.005637  -0.003871   0.000000
2022-05-19  -0.025172  -0.012472  -0.023316  -0.018152
2022-05-20   0.004695  -0.002296   0.010610   0.013445
2022-05-23  -0.001168   0.009206   0.001312  -0.009950
2022-05-24   0.001170   0.000000   0.010485  -0.015075
2022-05-25   0.004673   0.010262   0.011673  -0.003401
2022-05-26   0.006977   0.001129  -0.006410   0.000000
2022-05-27   0.010393  -0.004510   0.011613   0.011945
2022-05-30   0.002286   0.003398   0.006378  -0.006745

In [71]:
returns2 = volume2.pct_change()
returns2.tail(20)

            139130.KS  175330.KS  138930.KS  006220.KS
Date
2022-04-29   0.112395  -0.010722   1.391436   0.280888
2022-05-02  -0.233510  -0.384364  -0.601172  -0.440373
2022-05-03   0.013296   0.260804  -0.258841  -0.480308
2022-05-04  -0.272074   0.050467   0.985065   0.756135
2022-05-06   0.267820   0.603922  -0.161084   0.992179
2022-05-10  -0.213446  -0.219065   0.407392   0.134699
2022-05-11   0.918881   0.216798   0.414907  -0.752111
2022-05-12  -0.241860  -0.298284  -0.340945   0.967134
2022-05-13   0.126317  -0.145056  -0.174845  -0.244177
2022-05-16  -0.425794  -0.095417  -0.517847  -0.614755
2022-05-17  -0.051869   1.596067   0.311222   2.174930
2022-05-18  -0.146341  55.424114   0.061936  -0.369922
2022-05-19   0.915521  -0.989977   0.556352   0.748904
2022-05-20  -0.260509   0.683250  -0.160015  -0.463299
2022-05-23  -0.479122  -0.436745  -0.470365  -0.052637
2022-05-24   1.169470   0.400501   0.531366   1.545607
2022-05-25  -0.248390   0.154839   0.127417  -0.415263
2022-05-26   0.019737  -0.557105  -0.230746   0.558359
2022-05-27  -0.237879  -0.172891   0.232188  -0.338724
2022-05-30  -0.291737  -0.213872  -0.260265   0.683742

In [72]:
returns2.corr()

           139130.KS  175330.KS  138930.KS  006220.KS
139130.KS   1.000000   0.057921   0.228492   0.093034
175330.KS   0.057921   1.000000   0.043267   0.023593
138930.KS   0.228492   0.043267   1.000000   0.054760
006220.KS   0.093034   0.023593   0.054760   1.000000

In [28]:
?price.pct_change

In [29]:
?head

Object `head` not found.

In [30]:
returns.MSFT.corr(returns.IBM)

0.477269620899767

In [32]:
returns.AAPL.corr(returns.GOOG)

0.6795174669589786

In [31]:
returns.MSFT.cov(returns.IBM)

0.00014895041488129099

In [33]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.431414  0.754095  0.679517
IBM   0.431414  1.000000  0.477270  0.450492
MSFT  0.754095  0.477270  1.000000  0.784649
GOOG  0.679517  0.450492  0.784649  1.000000

In [34]:
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000401  0.000147  0.000277  0.000247
IBM   0.000147  0.000290  0.000149  0.000139
MSFT  0.000277  0.000149  0.000336  0.000261
GOOG  0.000247  0.000139  0.000261  0.000329

* 공분산을 동일한 스케일로 판단할 수 있도록 한것이 상관계수이다.

In [35]:
returns.corrwith(returns.IBM)

AAPL    0.431414
IBM     1.000000
MSFT    0.477270
GOOG    0.450492
dtype: float64

In [36]:
returns.corrwith(volume)

AAPL   -0.083383
IBM    -0.102587
MSFT   -0.073838
GOOG   -0.102146
dtype: float64

*유일값,값 세기, 멤버십

In [4]:
obj = Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

NameError: name 'Series' is not defined

In [43]:
uniques = obj.unique()
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [44]:
obj.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

In [46]:
pd.value_counts(obj.values, sort=False)

c    3
a    3
d    1
b    2
dtype: int64

In [47]:
pd.value_counts(obj.values, sort=True)

c    3
a    3
b    2
d    1
dtype: int64

In [48]:
mask = obj.isin(['b', 'c'])
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [49]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [8]:
data = DataFrame({'Qu1': [1, 3, 4, 3, 4],
                  'Qu2': [2, 3, 1, 2, 3],
                  'Qu3': [1, 5, 2, 4, 4]})
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [60]:
# DataFrame.apply() 
result = data.apply(pd.value_counts).fillna(0)
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

In [9]:
# DataFrame.apply() 
result2 = reindex(data.apply(pd.value_counts),fill_value=0)
result2

NameError: name 'reindex' is not defined

In [1]:
?fillna

Object `fillna` not found.

In [7]:
?data.fillna